<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <%- include  ('../partials/message') %>
        
        <h1>Profile</h1>
        <div>Welcome <%= username %> </div>

        <div class='row'>
          <div class = 'col'>
            <h3>My uploads</h3>
            <table class="table">
                <thead>
                
                <tr>
                    
                    <th scope="col">Title</th>
                    <th scope="col">Link</th>
                </tr>
                </thead>
                <tbody>
                
                <% uploaded.forEach((item)=>{ %>
                    <tr>
                        <td ><%-item.title%></td>
                        <td ><%-item.link%></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
          </div>
          <div class = 'col'>
            <h3>Liked</h3>
            <table class="table">
                  <thead>
                  
                  <tr>
                      
                      <th scope="col">Title</th>
                      <th scope="col">Link</th>
                  </tr>
                  </thead>
                  <tbody>
                  
                  <% liked.forEach((item)=>{ %>
                      <tr>
                          <td ><%-item.title%></td>
                          <td ><%-item.link%></td>
                      </tr>
                  <% }); %>
                  </tbody>
              </table>
          </div>
        </div>

        
  </div>
</main>

<%- include ('../partials/footer') %>