<%- include ('../partials/head') %> 
<%- include ('../partials/menu') %>

<main>
	<div class="container" style="margin: 1em auto 1em auto">
		<%- include ('../partials/message') %>

		<h1><u>Search:</u></h1>
		<br>
		<form action="/searchResults" method="GET">
			<div class="mb-3 form-group">
				<label for="fileName" class="form-label"> File Name: </label>
				<input type="text" id="fileName" name="fileName" class="form-control" />
			</div>

			<div class="mb-3 form-group">
				<label for="subject" class="form-label"> Subject: </label>
				<select class="form-select" id="subject" name="subject">
                    <option value="select">Select a Subject</option>
					<option value="Arts & Sciences">Arts & Sciences</option>
					<option value="Business">Business</option>
					<option value="Engineering & Applied Science">Engineering & Applied Science</option>
					<option value="Communication">Communication</option>
				</select>
			</div>

			<div class="mb-3 form-group">
				<label for="sort-by" class="form-label" style="margin-right: 1em"> Tags: </label>
				<div class="form-check form-check-inline">
					<input
						class="form-check-input"
						type="checkbox"
						value="Lecture Notes"
						id="lectureNotes"
						name="lectureNotes" />
					<label class="form-check-label" for="lectureNotes"> Lecture Notes </label>
				</div>
				<div class="form-check form-check-inline">
					<input
						class="form-check-input"
						type="checkbox"
						value="Articles"
						id="articles"
						name="articles" />
					<label class="form-check-label" for="articles"> Articles </label>
				</div>
				<div class="form-check form-check-inline">
					<input
						class="form-check-input"
						type="checkbox"
						value="Practice Tests"
						id="practiceTests"
						name="practiceTests" />
					<label class="form-check-label" for="practiceTests"> Practice Tests </label>
				</div>
			</div>

			<div class="mb-3 form-group">
				<label for="sortBy" class="form-label"> Sort By: </label>
				<select class="form-select" id="sortBy" name="sortBy">
					<option value="recent">Recently Uploaded</option>
					<option value="descending">Rating, Descending</option>
					<option value="ascending">Rating, Ascending</option>
				</select>
			</div>

			<input type="submit" value="Search" class="btn btn-primary" style="margin-top: 0.5em" />
		</form>
	</div>

	<hr style="margin: 2rem 5rem 1rem 5rem" />

	<div class="container" style="margin: 2em auto 3em auto">
		<h3>Results</h3>
		<table style="width: 100%; border-collapse: separate; border-spacing: 0 .5em;" >
			<tr>
				<th>Name</th>
				<th>Likes</th>
				<th>Subject</th>
				<th>Tags</th>
				<th>Document Page</th>
			</tr>

            <% if (documents) 
                { %> <% documents.forEach((documents) => { %>
			        <tr>
				        <td> <%-documents.documentname %> </td>
                        <td> <%-documents.documentrating %> </td>
                        <td> <%-documents.documentsubject %> </td>
                        <td> <%-documents.documenttags %> </td>
				        <td><a class="btn btn-primary" href= <%- "/display?id=" + documents.documentid %> >View</a></td>
                    </tr>
			    <% }); %> 
            <% } %>
		</table>
	</div>
</main>

<%- include ('../partials/footer') %>